USE [master]
GO
/****** Object:  Database [TallerTextilDB]    Script Date: 1/2/2026 15:22:04 ******/
CREATE DATABASE [TallerTextilDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TallerTextilDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TallerTextilDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TallerTextilDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TallerTextilDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TallerTextilDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TallerTextilDB]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[Id_admin] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Clave] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORDADO]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORDADO](
	[Id_bordado] [int] IDENTITY(1,1) NOT NULL,
	[Id_item_trabajo] [int] NOT NULL,
	[Id_matriz] [int] NOT NULL,
	[Id_posicion] [int] NULL,
	[Puntadas] [int] NULL,
	[Ancho] [decimal](10, 2) NULL,
	[Alto] [decimal](10, 2) NULL,
	[Valor] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_bordado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Dni] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[Id_estado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGEN]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGEN](
	[Id_imagen] [int] IDENTITY(1,1) NOT NULL,
	[Url_imagen] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_imagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_TRABAJO]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_TRABAJO](
	[Id_item] [int] IDENTITY(1,1) NOT NULL,
	[Id_trabajo] [int] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Prenda_propia] [bit] NULL,
	[Precio_unitario] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRIZ]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRIZ](
	[Id_matriz] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Url_matriz] [varchar](max) NULL,
	[Id_imagen] [int] NULL,
	[Id_imagen_simulacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_matriz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSICION]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSICION](
	[Id_posicion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_posicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJO]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJO](
	[Id_trabajo] [int] IDENTITY(1,1) NOT NULL,
	[Id_cliente] [int] NOT NULL,
	[Id_estado] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_trabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ITEM_TRABAJO] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[ITEM_TRABAJO] ADD  DEFAULT ((0)) FOR [Prenda_propia]
GO
ALTER TABLE [dbo].[ITEM_TRABAJO] ADD  DEFAULT ((0)) FOR [Precio_unitario]
GO
ALTER TABLE [dbo].[TRABAJO] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[TRABAJO] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[BORDADO]  WITH CHECK ADD  CONSTRAINT [FK_Bordado_Item] FOREIGN KEY([Id_item_trabajo])
REFERENCES [dbo].[ITEM_TRABAJO] ([Id_item])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BORDADO] CHECK CONSTRAINT [FK_Bordado_Item]
GO
ALTER TABLE [dbo].[BORDADO]  WITH CHECK ADD  CONSTRAINT [FK_Bordado_Matriz] FOREIGN KEY([Id_matriz])
REFERENCES [dbo].[MATRIZ] ([Id_matriz])
GO
ALTER TABLE [dbo].[BORDADO] CHECK CONSTRAINT [FK_Bordado_Matriz]
GO
ALTER TABLE [dbo].[BORDADO]  WITH CHECK ADD  CONSTRAINT [FK_Bordado_Posicion] FOREIGN KEY([Id_posicion])
REFERENCES [dbo].[POSICION] ([Id_posicion])
GO
ALTER TABLE [dbo].[BORDADO] CHECK CONSTRAINT [FK_Bordado_Posicion]
GO
ALTER TABLE [dbo].[ITEM_TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_Item_Trabajo] FOREIGN KEY([Id_trabajo])
REFERENCES [dbo].[TRABAJO] ([Id_trabajo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ITEM_TRABAJO] CHECK CONSTRAINT [FK_Item_Trabajo]
GO
ALTER TABLE [dbo].[MATRIZ]  WITH CHECK ADD  CONSTRAINT [FK_Matriz_Imagen] FOREIGN KEY([Id_imagen])
REFERENCES [dbo].[IMAGEN] ([Id_imagen])
GO
ALTER TABLE [dbo].[MATRIZ] CHECK CONSTRAINT [FK_Matriz_Imagen]
GO
ALTER TABLE [dbo].[MATRIZ]  WITH CHECK ADD  CONSTRAINT [FK_Matriz_ImgSimulacion] FOREIGN KEY([Id_imagen_simulacion])
REFERENCES [dbo].[IMAGEN] ([Id_imagen])
GO
ALTER TABLE [dbo].[MATRIZ] CHECK CONSTRAINT [FK_Matriz_ImgSimulacion]
GO
ALTER TABLE [dbo].[TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_Trabajo_Cliente] FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[CLIENTE] ([Id_cliente])
GO
ALTER TABLE [dbo].[TRABAJO] CHECK CONSTRAINT [FK_Trabajo_Cliente]
GO
ALTER TABLE [dbo].[TRABAJO]  WITH CHECK ADD  CONSTRAINT [FK_Trabajo_Estado] FOREIGN KEY([Id_estado])
REFERENCES [dbo].[ESTADO] ([Id_estado])
GO
ALTER TABLE [dbo].[TRABAJO] CHECK CONSTRAINT [FK_Trabajo_Estado]
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarCliente]    Script Date: 1/2/2026 15:22:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 1. CLIENTES
-- =============================================

-- Procedimiento para insertar (o editar) clientes
CREATE   PROCEDURE [dbo].[sp_GuardarCliente]
    @Id_cliente INT = 0, -- Si es 0 inserta, si >0 actualiza
    @Nombre VARCHAR(100),
    @Dni VARCHAR(20),
    @Email VARCHAR(100),
    @Telefono VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Id_cliente = 0
    BEGIN
        INSERT INTO CLIENTE (Nombre, Dni, Email, Telefono)
        VALUES (@Nombre, @Dni, @Email, @Telefono);
    END
    ELSE
    BEGIN
        UPDATE CLIENTE 
        SET Nombre = @Nombre, Dni = @Dni, Email = @Email, Telefono = @Telefono
        WHERE Id_cliente = @Id_cliente;
    END
END

GO
USE [master]
GO
